html {
    font-size: 16px;
}

.products {
    display: flex;
    justify-content:center;
    flex-flow: row wrap;
}

.logo {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    text-align: center;
    font-family: fantasy;
    font-size: 1.5rem;
    display: flexbox;
    margin-bottom: 50px;
}

.menu-items {
    margin: auto 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    font-size: 1.25rem; 

}

.menu {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.product {
    padding: 1rem;
    border-radius: 0.5rem;
    width: 300px;
    height: 200px;
}

.product-description {
    font-size: 1.25rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-top: 2px;

}

.product-with-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin: 5px;
}